/AreaDoTriangulo.class
/BuzzyOne.class
/Car.class
/ContaBancariaComSwitch.class
/DesafioMediaSalarial.class
/DesafioPotencializacao.class
/DesafioWhile1.class
/FormulaDeBhaskara.class
/Imc.class
/ManagerCar.class
/PalindromeChallenger.class
/ReajusteSalarial.class
/TirandoDoFor.class
