/AreaDoTriangulo.class
/DesafioMediaSalarial.class
/DesafioPotencializacao.class
/FormulaDeBhaskara.class
/Imc.class
/ReajusteSalarial.class
/ContaBancariaComSwitch.class
/DesafioWhile1.class
/BuzzyOne.class
/Car.class
/SpeedUp.class
/Brake.class
